<form #shapeForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">Shape Generator</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div>
        You can draw using natural language!
        <br>
        <br>Here are some examples:
        <ul>
          <li>Draw a circle with a radius of 100</li>
          <li>Draw a square with a side length of 200</li>
          <li>Draw a rectangle with a width of 250 and a height of 400</li>
          <li>Draw an octagon with a side length of 200</li>
          <li>Draw an isosceles triangle with a height of 200 and a width of 100</li>
        </ul>
      </div>

      <mat-form-field class="command-input">
        <textarea class="" matTextareaAutosize matInput placeholder="Type your command" [(ngModel)]="query" name="query" required></textarea>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-stroked-button type="reset">CLEAR</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="shapeForm.invalid">SUBMIT</button>
    </mat-card-actions>

    <p *ngIf="!imageXml">The shape would appear here...</p>
    <div *ngIf="imageXml">
      <p *ngIf="fitScreen">Click shape to see original size</p>
      <p *ngIf="!fitScreen">Click shape to resize</p>
      <div class="shape-container" [ngClass]="{'shape-container--fit': fitScreen}" mat-card-image [innerHTML]="imageXml" (click)="toggleFitScreen()"></div>
    </div>
  </mat-card>
</form>
