/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.shape-container--fit svg {
  width: 100%;
  height: 100%;
}
